.wrap {
    background: linear-gradient(45deg, #DE6262 10%, #FFB88C 90%);
    display: inline-block;
    width: 100%;
    min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0 auto;
  max-width: 175px;
  z-index: 1000;
  padding: 0px;
  float: right;
    @media screen and (min-width: 630px) {
      max-width: 610px;
    }
}

li {
  margin: 10px 10px;
  float: left;
  @media screen and (min-width: 992px) {
    margin: 10px 20px;
  }
}
.handwriting {
  color: #000;
  font-family: "RicksHandwriting";
  font-size: 50px;
  text-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #00BCD4, 0 0 15px #0ff, 0 0 20px #0ff0, 0 0 25px #0ff0, 0 0 10px #0ff0, 0 0 10px #0ff0;
  text-decoration: none;
    @media screen and (min-width: 992px) {
      font-size: 55px;
    }
}

/*
  @media screen and (max-width: 540px) {
    ul {
      padding: 0px;
      width: 175px;
    }
    li {
      margin: 5px 0px;
    }
    .handwriting {
      font-size: 35px;
    }
  }

@media only screen and (max-width: 630px) {
  .handwriting {
    font-size: 47px;
  }
}
*/
