html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e234d;
  height: 100%;
}


@font-face {
  font-family: 'RickandMorty';
  src: url('assets/fonts/schwifty.ttf') format('truetype');
}

@font-face {
  font-family: 'RicksHandwriting';
  src: url('assets/fonts/handwriting_rick.ttf') format('truetype');
}


p {
  font-family: "RickandMorty";
  font-size: 35px;
  text-shadow: 0 0 3px #fff, 0 0 0px #fff, 0 0 0px #00BCD4, 0 0 10px #0ff, 0 0 0px #0ff0, 0 0 0px #0ff0, 0 0 0px #0ff0, 0 0 0px #0ff0;
  @media screen and (min-width: 630px) {
    font-size: 40px;

  }
}


/*
630
@media screen and (max-width: 540px) {
  p {
    font-size: 30px;
    margin: 5px 0px;
  }
}

@media only screen and (max-width: 630px) {
992
  p {
    font-size: 38px;
    margin: 15px 0px;
  }
}
*/
